<ion-header>
  <ion-navbar color="primary">
    <ion-title>Google Maps Application</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2>Google Maps API</h2>
  <p>With Ionic</p>
  <div #map id="map"></div>
</ion-content>
